@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body {
  background-color: #ffffcf;

}
.center {
  text-align: center;
  margin: 0 auto;
}
h2 {
    font-family: 'Bangers', cursive;
    font-size: 4em;
    color: #4abdab; /* Deep pink color */
    text-shadow: 
        2px 2px 0 #f5b110,   /* Yellow */
        4px 4px 0 #FF8C00;   /* Dark orange */
    padding: 10px;
    display: inline-block;
    margin-top: 20px;
    letter-spacing: 5px;
}
@media screen and (max-width: 450px) {
  .center {
    margin-left: -215px !important;
  }
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 100px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  color: #4abdab;
  padding: 5px;
  box-shadow: 
                2px 2px 0 #f5b110,   /* Yellow */
                4px 4px 0 #FF8C00,   /* Dark orange */
                6px 6px 0 #e66223; 
}

.time {
  font-size: 2em;
  font-weight: bold;
}

.label {
  font-size: 0.8em;
  text-transform: uppercase;
  margin-top: 5px;
}

img {
  box-shadow: 
                2px 2px 0 #f5b110,   /* Yellow */
                4px 4px 0 #FF8C00,   /* Dark orange */
                6px 6px 0 #e66223; 
}

@media screen and (max-width: 450px) {
  .center {
    margin-left: -215px !important;
  }

  h2 {
    font-size: 2em; /* Scale down header font size */
  }

  .card {
    width: 5rem; /* Scale down card width */
    height: 80px; /* Scale down card height */
    font-size: 1em; /* Adjust font size */
  }

  img {
    width: 100%; /* Scale down image width */
    height: auto; /* Maintain aspect ratio */
  }
}